<div class="home">




  <div class="text-center pt-4 ">
    <h2 class="text-uppercase mb-3 fs-1 con-clr fw-bold">Contact section</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3 ">
      </div>
      <i class="fa-solid fa-star con-clr"></i>
      <div class="line ms-3 ">
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row justify-content-center">
      <form class="w-50 p-3 mx-auto mt-5 ">
        <div class="term">
          <input id="userName" type="text" placeholder="userName" name="userName"
            class="form-control border-0 border-bottom py-3 " />
          <label for="userName" class=" top-0">userName : </label>
        </div>

        <div class="term">
          <input id="userAge" type="text" placeholder="userAge" name="userName"
            class="form-control border-0 border-bottom py-3  " />
          <label for="userAge" class=" top-0">userAge : </label>
        </div>


        <div class="term">
          <input id="userEmail" type="text" placeholder="userEmail" name="userName"
            class="form-control border-0 border-bottom py-3  " />
          <label for="userEmail" class=" top-0 ">userEmail : </label>
        </div>



        <div class="term">
          <input id="userPassword" type="text" placeholder="userPassword" name="userName"
            class="form-control border-0 border-bottom py-3  " />
          <label for="userPassword" class="top-0 ">userPassword : </label>
        </div>

        <button class="btn mt-4 text-white" style="background-color: #1abc9c;">send Message</button>
      </form>



    </div>
  </div>




</div>